<link href="<%= BASEURL %>/assets/css/normalize.css" rel='stylesheet' type='text/css'>
<link href="<%= BASEURL %>/assets/css/css.css" rel='stylesheet' type='text/css'>

<%= floor %>

<h1> <img class="titre" src="../assets/img/ambiance.png" alt="quelle ambiance ?!"> </h1>

<div class="mood" data-value="relax"> <img class="pictos" src="../assets/img/relax.png" alt="relax"></div>
<div class="mood" data-value="classique"> <img class="pictos" src="../assets/img/classique.png" alt="classique"></div>
<div class="mood" data-value="swing"> <img class="pictos" src="../assets/img/swing.png" alt="swing"></div>
<div class="mood" data-value="disco"><img class="pictos" src="../assets/img/disco.png" alt="disco"></div>
<div class="mood" data-value="energie"><img class="pictos" src="../assets/img/energie.png" alt="energie"></div>

<div class="texte"> <p>En ce moment vous êtes plutôt jazz</p>
<p>Comment ça se passe dans chaque MDM ?</p></div>

<hr>

<div class="reactive-zone">
  <div class="cols">

    <div class="topmood">
      <%= stats.moyMood.mood %>
    </div>

    <div class="floors">

      <% for (var floorIndex = 0; floorIndex < stats.floors.length; floorIndex++) { %>

        <div class="floor">
          <div class="floor-index">
            <%= floorIndex %>
          </div>

          <div class="floor-mood">
            <%= stats.floors[floorIndex].topMood.mood %>
          </div>
        </div>

      <% } %>
    </div>

  </div>
</div>




<div class="actus">

  waiting for actus

</div>






<script>
  var BASEURL = '<%= BASEURL %>';
  var floor = '<%= floor %>';
</script>

<script src="<%= BASEURL %>/assets/lib/jquery-2.2.4.min.js"></script>
<script src="<%= BASEURL %>/assets/lib/socket.io-1.2.0.js"></script>
<script src="<%= BASEURL %>/assets/js/js.js"></script>
