<link href="<%= BASEURL %>/assets/css/normalize.css" rel='stylesheet' type='text/css'>
<link href="<%= BASEURL %>/assets/css/css.css" rel='stylesheet' type='text/css'>

<body id="style">

<div class="head-image"><img class="titre" src="../assets/img/ambiance.png" alt="quelle ambiance ?!"></div>

<div class="aligner">
<div class="mood" data-value="relax" data-color="#C5FFE1"><img class="pictos" src="../assets/img/relax.png" alt="relax"></div>
<div class="mood" data-value="classique" data-color="#C2CCFF"><img class="pictos" src="../assets/img/classique.png" alt="classique"></div>
<div class="mood" data-value="swing" data-color="#FF4800"><img class="pictos" src="../assets/img/swing.png" alt="swing"></div>
<div class="mood" data-value="disco" data-color="#F82AF8"><img class="pictos" src="../assets/img/disco.png" alt="disco"></div>
<div class="mood" data-value="energie" data-color="#FFFF06"><img class="pictos" src="../assets/img/energie.png" alt="energie"></div>
</div>

<div class="texte">
<p class="moyenne">En ce moment, <br>
 vous êtes tou·te·s très <span data-reactive-container-of="topmood">swing</span> !</p>
 
<% for (var index in moods) { 
  for (var i = 1; i <= 5; i++) { %>
  <audio src="<%= BASEURL %>/assets/son/<%= moods[index] %>/<%= i %>.mp3" class="son" data-mood="<%= moods[index] %>" data-i="<%= i %>" preload></audio>
<% } } %>

 
<p class="ailleurs">Comment ça se passe dans chaque MDM ?</p>
</div>

<div class="reactive-zone">
  <div class="cols">

<!--
    <div class="topmood">
      <%= stats.moyMood.mood %>
    </div>
-->

    <div class="places">

      <% for (var placeIndex = 0; placeIndex < stats.places.length; placeIndex++) { %>

        <div class="place">
          <div class="place-index">
            <%= places[placeIndex] %>
          </div>

          <div class="place-mood">
            <%= stats.places[placeIndex].topMood.mood %>
          </div>
        </div>

      <% } %>
    </div>

  </div>
</div>


<div class="head-image"><img class="titre2" src="../assets/img/neuf.png" alt="quelle ambiance ?!">
</div>
<p class="ecrire">Écrivez-moi à mdm2lyon@gmail.com !</p>

<div class="actus">
</div>

<script>
  var BASEURL = '<%= BASEURL %>';
  var place = '<%= place %>';
</script>

<script src="<%= BASEURL %>/assets/lib/jquery-2.2.4.min.js"></script>
<script src="<%= BASEURL %>/assets/lib/socket.io-1.2.0.js"></script>
<script src="<%= BASEURL %>/assets/js/js.js"></script>

</body>
